<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="Stylesheet" href="1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var e = angular.module("myapp",[]);
        e.controller("myController", function($scope){
            $scope.firstnamsse;
            $scope.secondname;
            $scope.full;

            $scope.fullname = function(){
                $scope.full = $scope.firstname + $scope.secondname;
            };
        })
    </script>
</head>
<body>
    <div ng-app="myapp" ng-controller="myController">
        <h1 >Angular JS</h1>
        <label>First Name:<input type="text" ng-model="firstname"></label><br><br>
        <label>Second Name:<input type="text" ng-model="secondname"></label><br><br>
        <button ng-click="fullname()">FullName</button>
        <p>Your Full Name is : <span ng-bind="full"></span></p>
    </div>
    <div>
        New Div
    </div>
</body>
</html>