.infant{
    display: flex;
    align-items: center;
    margin: 23px;
}

.info1{
    margin: 23px;
    margin-right: 250px;
    margin-left: 200px;
}

.info2{
    margin: 23px;
    margin-left: 200px;

}

.father{
    margin: 23px;
}

.mother{
    margin: 23px;
}

.add{
    margin: 50px;
    
}

.h{
    margin-left: 50px;
    text-align: center;
}


body{
    background-color:rgb(4, 4, 32);
    color: aqua;
}

.in{
    background-color: aqua;
}

.b{
   text-align: center;
}